* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img/Home/global/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.glass-container {
    width: 350px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
}

.confirmation-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.confirmation-box p {
    color: #fff;
    margin-bottom: 20px;
}

a {
    background: #fff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none; 
}

    a:hover {
        background: transparent;
        color: white;
        outline: 1px solid #fff;
    }
