@{
    ViewData["Title"] = "忘記密碼";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home/forgotpassword.css" />
}
@section Scripts {
    <script src="~/js/Home/forgotpassword.js"></script>
}

<div class="glass-container">
    <div class="forgot-password-box">
        <h2>忘記密碼</h2>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <input type="email" id="email" name="email" required placeholder="請輸入您的電子郵件">

            <button type="submit">發送重設密碼郵件</button>
        </form>
        <p>記得密碼了？ <a id="login" asp-area="" asp-controller="Home" asp-action="Login">登入</a></p>
    </div>
</div>
