@{
    ViewData["Title"] = "重設密碼請求已送出";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home/forgotpasswordconfirmation.css" />
}
@section Scripts {
    <script src="~/js/Home/forgotpassword.js"></script>
}

<div class="glass-container">
    <div class="confirmation-box">
        <h2>確認信已寄出</h2>
        <p>如果該電子郵件與我們的帳號記錄匹配，您將收到一封包含重設密碼連結的電子郵件。</p>
        <p>請檢查您的電子郵件信箱，包括垃圾郵件夾。</p>
        <a id="login btn btn-primary" asp-area="" asp-controller="Home" asp-action="Login">返回登入</a>
    </div>
</div>
